Liebe(r) $Vorname,

nach den neuen SEPA-Vorschriften sind wir dazu verpflichtet, 14 Tage vor Fälligkeitsdatum über den Einzug einer SEPA-Lastschrift zu informieren. Dies geschieht in Zukunft per E-Mail.

Fällige Zahlung am: 08.05.2013
Betrag: $Betrag €
...


Viele Grüße
Jemand

PS: bla blubb
